.container {
  width: 50%;
  padding: 10px 0 20px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 20px;
  left: 1px;
  width: 1px;
  background-color: #ccc;
  pointer-events: none;
}

.container:first-child::before {
  opacity: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 0 20px;
}

.bar :global(.ant-checkbox-wrapper) {
  margin-left: 10px;
}

.container :global(.ant-empty) {
  margin-top: 60px;
}

.results {
  flex: 1 0 0%;
  overflow: auto;
  padding: 0 20px;
}

.result {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 10px;
  position: relative;
}

.showSelection {
  padding: 10px 10px 10px 30px;
}

.resultContent {
  margin-bottom: 4px;
  margin-right: 14px;
  word-break: break-all;
}

.resultContentP {
  margin: 0;
}

.resultProps {
  background: #f2f2f2;
  padding: 6px;
  border-radius: 2px;
  font-size: 0.9em;
}

.resultPropName {
  font-weight: bold;
}

.result :global(.ant-checkbox-wrapper) {
  position: absolute;
  top: 10px;
  left: 8px;
}

.hierarchy {
  position: absolute;
  top: 4px;
  right: 10px;
}

.count {
  margin-right: 15px;
  color: var(--result-count-fg);
}

.selCount {
  display: none;
}

.showSel {
  display: inline;
}
