.container {
  width: 50%;
  height: 100%;
  padding: 0 20px 20px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 20px;
  left: 1px;
  width: 1px;
  background-color: #ccc;
  pointer-events: none;
}

.container :global(.ant-tabs) {
  height: 100%;
}

.container :global(.ant-tabs-content-holder) {
  overflow: auto;
}
